*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #55966b;
    position: relative;
}
header {
    min-height: 100vh;
    background-image: url(../images/Background.jpg);
    background-repeat: none;
    background-size: cover;
    position: relative;
    color: bisque;
    top: 0;
}
main {
    max-width: 1200px;
    margin: auto;
    border: 2px solid grey;
    background-color: bisque;
}
.wrapper {
    position: relative;
}
.wrapper p {
    margin: auto 10px;
    font-size: 1.2rem;
}
.section-title {
    text-transform: uppercase;
    margin: 50px auto;
}
.section-title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: grey;
    top: 50px;
    left: 0;
}
.section-title::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: grey;
    top: 0px;
    left: 0;
}
.menu {
    position: absolute;
    top: 250px;
    z-index: 1;
}
.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}
.menu li {
    list-style: none;
    font-size: 1.5rem;
    margin-bottom: 20px;
    padding: 10px auto;
    transition: all 0.4s ease-in-out;
}
.menu li:hover {
    transform: scale(1.5);
}
.menu a {
    text-decoration: none;
    color: bisque;
    text-transform: uppercase;
    font-weight: 400;
}
.menu a span {
    display: none;
}
.main-title {
    position: absolute;
    top: 50%;
    left: 25%;
    font-size: 2rem;
}
.main-title  h1 {
    text-transform: uppercase;
    /* animation: test 1s ease-in-out 0 1 normal forwards; */
    animation-name: FadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.main-title h4 {
    opacity: 0;
    animation-name: FadeIn;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.contact {
    position: absolute;
    top: 65%;
    left: 25%;
}
.icon {
    display: flex;
    opacity: 0;
    animation-name: FadeIn;
    animation-duration: 2s;
    animation-delay: 0.9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.icon li {
    list-style: none;
    margin-right: 30px;
    transition: all .5s ease-in-out;
}
.icon li:hover {
    transform: translateY(-20px);
}
.icon a {
    text-decoration: none;
    color: bisque;
}
#about {
    margin-top: 100px;
    text-align: center;
}
.about-detail-info {
    text-align: left;
}
.about-detail {
    margin-top: 50px;
}
.about-detail li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.about-detail i {
    margin-right: 10px;
}
.avatar img {
    width: 300px;
}
h4 {
    line-height: 2rem;
    padding-left: 10px;
}
#skills {
    margin-top: 100px;
    text-align: center;
}
.skill-detail {
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
}
.skill-detail i {
    font-size: 3rem;
}
.skill-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin: 100px auto;
    flex-wrap: wrap;
}
#resume {
    text-align: center;
    margin: 50px 150px;
}
#resume p {
    text-align: left;
}
#portfolio {
    text-align: center;
    margin: 100px auto;
}
.projects img {
    width: 400px;
    border-radius: 5%;
    box-shadow: 10px 10px 10px grey;   
}
.projects img:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: .3s linear;
}
.jec {
    margin: 20px auto;
}
.jec-text {
    margin: auto;
    font-size: 1.2rem;
}
.reverse {
    flex-direction: row-reverse;
}
#certify {
    text-align: center;
}
#certify img {
    width: 400px;
}
.certify-detail {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    padding-bottom: 80px;
}
.certify-detail p {
    text-align: left;
    font-size: 1.2rem;
}
.certify-detail img {
    flex: 0.8;
}
footer {
    padding-top: 50px;
    text-align: center;
    height: 300px;
    color: bisque;
    background-color: #5da478;
}
footer h3 {
    margin-bottom: 50px;
    text-transform: uppercase;
}
.footer-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

@keyframes FadeIn {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
/* -----Mobile------739px 46.1875em */
@media only screen and (max-width: 46.1875em ){
    .about-detail-info h4 {
        text-align: center;
    }
    .skill-detail {
        margin-bottom: 20px;
        width: 100px;
    }
    .contact .icon {
        display: none;
    }
    #resume {
        margin: 50px 15px;
    }
    .projects img {
        width: 100%;
    }
    .jec-text {
        margin-top: 15px;
    }
    #certify img {
        display: none;
    }
}